*{
    margin: 0px;
    padding: 0px;
}
body{
    background-color: #c9ada7;
    text-align: center;
}
h1{
    color: #22333B;
}
.container{
    height: 70vh;
    display: flex;
    justify-content: center;
    align-items: center;
}
.game{
    height: 60vmin;
    width: 60vmin;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    gap: 1.5vmin;
}
.boxes{
    height: 17vmin;
    width: 17vmin;
    border-radius: 1rem;
    border: none;
    box-shadow: 0 0 1rem rgba(29, 28, 28, 0.5);
    font-size: 7vmin;
    color: #5E548E;
    background-color: #F6F4F1;
}
#rest , #new{
    height: 5vmin;
    width: 15vmin;
    color: #F6F4F1;
    border-radius: 1rem;
    border: none;
    box-shadow: 0 0 1rem rgb(0,0,0,0.2);
    background-color: #646b6a;
}
.para , #new{
    display: none;
}
.buttons {
    display: flex;
    justify-content: center;
    gap: 20px;        
    margin-top: 10px;
}
