*{
    margin: 0px;
    padding: 0px;
}
body{
    background-color: #c9ada7;
    text-align: center;
}
h1{
    color: rgb(80, 75, 75);
}
.container{
    height: 70vh;
    display: flex;
    justify-content: center;
    align-items: center;
}
.game{
    height: 60vmin;
    width: 60vmin;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    gap: 1.5vmin;
}
.boxes{
    height: 17vmin;
    width: 17vmin;
    border-radius: 1rem;
    border: none;
    box-shadow: 0 0 1rem rgba(29, 28, 28, 0.5);
    font-size: 7vmin;
    color: #9a8c98;
}
#rest{
    height: 5vmin;
    width: 15vmin;
    color: rgb(223, 213, 213);
    border-radius: 1rem;
    border: none;
    box-shadow: 0 0 1rem rgb(0,0,0,0.2);
    background-color: #9c8f90;
}